@font-face {
    font-family: "digitalClock";
    src: url("./ds_digital/DS-DIGI.TTF");
}

#fullpage {
    background-color: #0A0A0A;
    color: #7DD2DC;
    top: 0;
    left: 0;
    /*height: 100vh;*/
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
}

#clock {
    font-family: 'digitalClock', monospace, sans-serif;
    display: table;
    justify-content: center;
    font-size: 38vw;
}

#ampm {
    font-family: 'digitalClock', monospace, sans-serif;
    display: table-cell;
    font-size: 8vw;
}

#colorpickers {
    display: flex;
    justify-content: center;
}

.colorpicker {
    margin: 100px;
}